<ion-view title="Enya512" id="page1" style="background-color:de;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="enyaLogin-form1" class="list ">
            <div class="">
                <img src="img/bdll7s2xSNSS2nVc3lEw_13230826_10208046675717314_86880292_o.jpg" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <label class="item item-input " id="enyaLogin-input3">
                <span class="input-label">email</span>
                <input type="email" placeholder="info@enya.miao">
            </label>
            <label class="item item-input " id="enyaLogin-input2">
                <span class="input-label">password</span>
                <input ng-model="passwd" type="password" placeholder="">
            </label>
        </form>
        <button ng-click="event(passwd)" id="enyaLogin-button2" class=" button button-positive  button-block icon ion-log-in "></button>
    </ion-content>
</ion-view>